# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.FairyGuiProject.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\workspace\UnityProjects\FairyGuiProject\.idea\.idea.FairyGuiProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
*.csproj
Assets/Scripts/XLua/Gen
*.meta